/* GLOBAL STYLES */
body {
  color: #343434;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-seriff;
}

/* PROFILE */


/* PROJECTS */

/* WORK EXPERIENCE */

/* EDUCATION */

/* CONTACT INFO */
footer {
  background: #343434;
  color: #F7FFF7;
}
