/* GLOBAL STYLES */
body {
  color: #343434;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-seriff;
}
img {
  width: 300px;
}
a {
  color: #2F3061;
}
a:hover {
  color: #343434;
  text-decoration: none;
}
h1 {
  margin: 0;
}
h2 {
  margin:0;
}
h3 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
}
.content-wrap {
/*  width: 800px;
  margin: 0 auto;
  padding: 60px 0;
*/}

/* PROFILE */
header {
  background: #2F3061;
  color: #F7FFF7;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* PROJECTS */
.projects {
  background: #F7FFF7;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* WORK EXPERIENCE */
.work-experience {
  background: #A1C6D7;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* EDUCATION */
.education {
  background: #FFE66D;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* CONTACT INFO */
footer {
  background: #343434;
  color: #F7FFF7;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer a {
  color: #F7FFF7;
  text-decoration: none;
}
footer a:hover {
  font-weight: bold;
}
