/* COLOR PALLETTE
https://coolors.co/fffcf2-ccc5b9-eb5e28-355691-3f4045
#FFFCF2 - Floral White
#CCC5B9 - Pale Silver
#B8B1A7 - Silver Chalice
#EB5E28 - Flame (Orange)
#C73E1D - Sinopia (Red)
#355691 - B'dazzled Blue
#3552AC - Cerulean Blue rgb(53,82,172)
#3F4045 - Onyx rgb(63,64,69)
*/

/* GLOBAL */
html {
    box-sizing: border-box;
    background: white;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.wrapper {
    font-size: 20px;
    width: 800px;
    margin: 0 auto;
}

/* HEADER */
header {
    color: white;
    background: #3F4045;
    height: 150px;
}
header img {
    width: 110px;
    margin: 30px;
    float: left;
    border: 3px solid white;
}
header h1 {
    margin: 0px;
    padding-top: 35px;
    font: normal bold 50px / 0px "Montserrat", Helvetica, Arial, Verdana, sans-serif;
    line-height: 1;
}
header h4 {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    padding: 0px;
    margin: 0px;
}

/* SIDEBAR */
aside {
    color: #FFFCF2;
    background: rgba(63,64,69,.35);
    height: 600px;
    width: 170px;
    float: left;
}
aside a.button {
    font: normal bold 14px / 40px 'Open Sans', sans-serif;
    text-decoration: none;
    display: block;
    color: white;
    font-weight: 900;
    text-align: center;
    background: #3F4045;
    height: 40px;
    width: 150px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
    border-radius: 4px;
}
aside a.button:hover {
    color: white;
    border: 2px solid white;
    background: #C73E1D;
}

/* MAIN CONTENT */
article {
    background: rgba(63,64,69,.05);
    height: 600px;
    width: 630px;
    float: left;
    padding: 20;
    text-align: center;
}
article h1 {
    color: blue;
    margin: 10px 0px 10px 0px;
}
article h3 {
    color: black;
    margin: 0;
}
.content-box {
    clear: both;
    background: white;
    border: 1px #3F4045 solid;
    height: 100px;
    padding: 10px;
    margin: 15px 45px 15px 45px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    line-height: 16px;
}
.content-box h4 {
    margin: 0px 0px 5px 0px;
}
.content-box p {
    margin: 0px;
    text-align: justify;
    padding: 0px 45px 0px 45px;
}
#one {
    height: 180px;
}
#two {
    height: 60px;
}
#three {
    height: 90px;
}
/* FOOTER */
footer {
    clear: both;
    color: #FFFCF2;
    background: #3F4045 ;
    height: 50px;
}